/*
Description:  
Author:       Karin H Olsson
Author URI:   http://kobotolo.se
Version:      0.01
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  kobotolo
*/

body {
    background:red;
    @media only screen and (max-width: 336px) {	
        background:none;
    }
}

@media only screen and (max-width: 800px) {
    .archive-description, .author-box, .comment-respond, .entry, .entry-comments, .entry-pings, .sidebar .widget, .site-header {
        padding: 5%; 
    }
}

/* -------------------------------------------
 Responsive Menu
--------------------------------------------- */
.resp_initial {
    background-color: none;
    color: white;
}

.resp_menu {
    .resp_initial;
}

.responsive-menu-icon {
    .resp_initial;
    cursor: pointer;
    display: none;
}

.responsive-menu-icon::before {
    content: "\f333";
    display: block;
    font: normal 20px/1 'dashicons';
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    nav .wrap,
    subnav .wrap {
        padding-left: 0%;
        padding-right: 0%;
    }	
    
    .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
    .genesis-nav-menu.responsive-menu {
            display: none;
    }
	
    .genesis-nav-menu.responsive-menu .menu-item,
    .responsive-menu-icon {
        display: block;
    }
	
    .genesis-nav-menu.responsive-menu .menu-item:hover {
        position: static;
    }
	
    .genesis-nav-menu.responsive-menu li a,
    .genesis-nav-menu.responsive-menu li a:hover {
        border: none;
        display: block;
        line-height: 1;
        padding: 16px;
        text-transform: none;
    }
	
    .genesis-nav-menu.responsive-menu .menu-item-has-children {
        cursor: pointer;	
    }
	
    .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
        margin-right: 60px;
    }
	
    .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
        content: "\f140";
        float: right;
        font: normal 20px/1 'dashicons';
        height: 20px;
        padding: 12px 20px;
        right: 0;
        text-align: right;
        z-index: 9999;
    }
	
    .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
        content: "\f142";                
    }
	
    .genesis-nav-menu.responsive-menu .sub-menu {
        background-color: green;//#f7f7f7;
        border: none;
        left: auto;
        opacity: 1;
        padding-left: 20px;
        position: relative;
        width: 100%;
        z-index: 99;
    }

    .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
        margin: 0;
    }
	
    .genesis-nav-menu.responsive-menu .sub-menu li a,
    .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
        padding: 12px 16px;
        position: relative;
        text-transform: none;
        width: 100%;
    }
	
    .genesis-nav-menu.responsive-menu .current-menu-item > a,
    .genesis-nav-menu.responsive-menu .sub-menu a, {
        .resp_initial;
        background: none;
    }

    .genesis-nav-menu.responsive-menu .sub-menu a:hover,
    .genesis-nav-menu.responsive-menu a:hover,
    .genesis-nav-menu.responsive-menu li:hover {
        .resp_initial;//nobackground;
    }	
}
